<section class="hz-table-wrap" #tableElement>
  <article class="hz-table-head-wrap" #theadElementWrap>
    <ul class="hz-table-head" #theadElement>
      <li
        *ngFor="let th of hzThComponent"
        [ngClass]="{'hz-table-col-left-sticky': th.hzLeft, 'hz-table-col-right-sticky': th.hzRight}"
        [ngStyle]="{'left': th.hzLeft, 'right': th.hzRight, 'width': th.hzWidth}">
        <span>{{th.innerText}}</span>
        <i (click)="sortChange(th)"
           class="grh-icon grh-icon-hover ico-relation-order-icon"
           *ngIf="th.hzShowSort"
           [ngClass]="{'ico-relation-order-icon-active': th.sortActive, 'hz-table-sort-desc':  th.hzSort === 'desc'}"
        ></i>
      </li>
    </ul>
  </article>
  <article class="hz-table-body-wrap">
    <div class="wrap-scroll" #tbodyScrollElement>
      <table>
        <ng-content></ng-content>
      </table>
    </div>
  </article>
  <article class="no-data" *ngIf="hzTbodyDirective.listOfHzTrDirective.length === 0">
    <i class="ico-no-data grh-icon"></i>
    <p>暂无数据</p>
  </article>
</section>
